.StockCard {
  background-color: rgba(209, 209, 209, 0.274);
  justify-content: left;
  padding: 10px;
  margin: 10px;
  border: 2px solid rgba(0, 0, 0, 0.31);
  border-radius: 18px 11px 0px 11px;
}

.StockCard h4 {
  color: rgb(74, 168, 223);
}

.StockCard p {
  width: 100%;
  justify-content: left;
  text-align: left;
  margin: 10px 0px 10px 0px;
}
