.StockCard {
  padding-left: 20px;
  padding-right: 20px;
  width: auto;
  height: fit-content;

  overflow: hidden;

  margin: 10px 4px 10px 4px;

  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;

  box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 0px 14px -5px rgba(0, 0, 0, 0.26);
}

.StockCard p {
  width: 100%;
  justify-content: left;
  text-align: left;
  margin: 10px 0px 10px 0px;
}
